body {
    background-color: #146C94;
    background-image: url(img/fondo.png);
}

.back-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(114deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(0, 212, 255, 1) 100%);
}

#img-bootcamp {
    float: right;
}

hr {
    border: 15px dotted black;
    border-bottom: none;
    width: 6%;
}

.niebla{
    background-color: rgb( 0, 0, 0, 0.3);
    border-radius: 1%;
}

#estudios a{
    font-size: 20px;
    width: 21%;
    border: 2px solid;
    border-color: yellow;
    text-decoration: none;
}

nav{
    background-color: #002B5B;
}